<div class="container">
  <div class="title-home">
    <h1>Satisfy</h1>
    <h2><span>TUS PAPILAS GUSTATIVAS</span></h2>
    <p>
      <span class="spanP">
        Date el gusto con una experiencia gastronómica de clase mundial con Satisfy,<br> nuestro servicio premier de reservas en restaurantes.
        <br> Ya sea que estés de ánimo para disfrutar de alta cocina gourmet o de una comida informal, <br> tenemos una amplia gama de opciones para satisfacer tus gustos y preferencias. <br>
        Con Satisfy, reservar una mesa nunca ha sido tan fácil. <br> <br> Nos encargaremos de todo, desde asegurar tu reserva hasta garantizar que tu experiencia gastronómica sea nada menos que excepcional.
        <br> <br>
        No te conformes con comidas mediocres; date el gusto con las delicias culinarias más finas con Satisfy.
      </span>
    </p>
  </div>
  <div class="image-container">
    <img class="img-2" src="assets/imgs/fake/fake-comedor-2.jpg" alt="">
  </div>
</div>