<div class="container">
    <div class="title-home">
      <h1>Satisfy</h1>
      <h2><span>YOUR TASTEBUDS</span></h2>
      <p>
        <span class="spanP">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
            Fugiat beatae voluptatem esse eligendi corrupti ullam vel asperi<br>
            voluptatibus enim dolores eius non magni animi qui. <br> Lorem ipsum dolor sit abr <br>
            quibusdam, reprehenderit quia ipsam consectetur<br>
            accusantium quasi nobis deleniti ab  <br> repudiandae error assumenda veritatis
        </span>   
      </p>
    </div>
    <div class="image-container">
      <img class="img-2" src="../../../../assets/imgs/fake/fake-comedor-2.jpg" alt="">
    </div>
</div>