.form-container {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8rem;
}

.form-group {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;
}

.form-group select{
    height: 45px;
}

.form-group label{
    color: white;
    margin-top: 0px;
}

.btn-primary {
    margin-left: auto;
    display: block;
    width: 200px;
    margin-top: 25px;
    height: 50px;
    border-radius: 2rem;
    background-color: #C7E7F1;
    border: 2px solid #081820;
    color: black;
    transition: background-color 0.3s ease, border 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover{
    background-color: #081820;
    color: white;
    border: 2px solid white;
    transform: scale(1.1);
}
  
.form-control{
    background-color: #081820;
    border: 2px solid white;
    width: 180px;
    height: 50px;
    color: white;
}