<header [ngClass]="{'transparent': isTransparent, 'black': !isTransparent}" fxLayout="column" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <a routerLink="/rooms">Rooms</a>
    <a routerLink="/explore">Explore</a>
    <a routerLink="/restaurant">Restaurant</a>
    <div class="logo" fxLayoutAlign="center center" routerLink="/">
      <img src="../../../../assets/imgs/Logo-Hotel-low.png" alt="">
    </div>
    <a routerLink="/about">About us</a>
    <a routerLink="/book">Contact us</a>
    <div class="dropdown"> 
      <a class="dropdown-toggle" role="button" id="aboutDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Bookings </a> 
      <div class="dropdown-menu" [ngClass]="{'transparent': isTransparent, 'black': !isTransparent}" aria-labelledby="aboutDropdown"> 
        <a class="dropdown-item" routerLink="/login"> Book now!</a> 
        <a class="dropdown-item" routerLink="/team">Reserved Dates</a> 
      </div> 
    </div>
</header>
  