.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #0b0b0c;
    color: #fff;
    padding: 20px;
  }
  
  .grid-item {
    text-align: center;
  }
  
  .grid-item-full {
    grid-column: 1 / -1;
    text-align: center;
  }
  
  h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
  
  .disclaimer {
    font-size: 0.9rem;
  }
  
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }