<div class="container">
    <div class="title-home">
      <h1>Our Mission </h1>
      <h2><span>Our Vision</span></h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat beatae voluptatem esse eligendi corrupti ullam vel asperiores id explicabo accusantium aspernatur, 
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia explicabo fugit eius doloribus quibusdam quae quisquam? Mollitia ipsum dolorem placeat! Necessitatibus, incidunt dicta quod voluptas hic ea modi magni fugit.
        quisquam voluptatibus enim dolores eius non magni animi qui.</p>
    </div>
    <div class="image-container">
      <img class="img-1" src="../../../../assets/imgs/fake/recpecionist.jpg">
      <img class="img-2" src="../../../assets/imgs/rooms/room16.jpg" alt="">
    </div>
</div>