<div class="container-main">
    <div class="title-container">
        <h1>Hotel Jacqueline | Rincón de Guayabitos | Mexico </h1>
        <h3>Tu hogar lejos de casa. Reserva con nosotros</h3>
        <div class="star-container">
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
        </div>
        <div class="check-container">
            <app-check-in-out></app-check-in-out>
        </div>
    </div>    
</div>
<div class="container">
    <div class="title-home">
      <h1>Your Home</h1>
      <h2>AWAY FROM HOME</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat beatae voluptatem esse eligendi corrupti ullam vel asperiores id explicabo accusantium aspernatur, quisquam voluptatibus enim dolores eius non magni animi qui.</p>
    </div>
    <div class="image-container">
      <img class="img-1" src="../../../assets/imgs/rooms/room1.jpg">
      <img class="img-2" src="../../../assets/imgs/rooms/room2.jpg" alt="">
    </div>
</div>  
