<div class="container-main">
    <div class="title-container">
        <h1>Hotel Jacqueline | Rincón de Guayabitos | Mexico </h1>
        <h3>Retorno Cedros 4, 63727 Rincon de Guayabitos, Mexico</h3>
        <div class="star-container">
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
        </div>
        <div class="check-container">
            <app-check-in-out></app-check-in-out>
        </div>
    </div>    
</div>
<div class="container">
    <p>Hello</p>
</div>

