<div class="container-main">
    <div class="title-container">
        <h1>Hotel Jacqueline | Rincón de Guayabitos | Mexico </h1>
        <h3>Tu hogar lejos de casa. Reserva con nosotros</h3>
        <div class="star-container">
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
            <fa-icon style="font-size: 30px;" [icon]="faStar"></fa-icon>
        </div>
        <div class="check-container">
            <app-check-in-out></app-check-in-out>
        </div>
    </div>    
</div>

<div class="container">
    <div class="title-home">
      <h1>Your home</h1>
      <h2><span>AWAY FROM HOME</span></h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat beatae voluptatem esse eligendi corrupti ullam vel asperiores id explicabo accusantium aspernatur, quisquam voluptatibus enim dolores eius non magni animi qui.</p>
    </div>
    <div class="image-container">
      <img class="img-1" src="../../../assets/imgs/rooms/room1.jpg">
      <img class="img-2" src="../../../assets/imgs/rooms/room2.jpg" alt="">
    </div>
</div>

<div class="container-experience">
    <div class="image-container-experience">
        <img src="../../../assets/imgs/fake/fake2.jpg" alt="">
    </div>
    <div class="title-container-ex-main">
            <h1>Experience</h1>
            <h2><span>OF A LIFE TIME</span></h2>
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br> Officia corrupti delectus facere culpa hic enim ad
            </p>
    </div>
</div>

