<div class="booking-form-container">
  <h2>Reserva tu habitación</h2>
  <div class="form-container">
    <form>
      <div class="form-row">
        <label>Check-in:</label>
        <input type="date" name="checkin">
      </div>

      <div class="form-row">
        <label>Check-out:</label>
        <input type="date" name="checkout">
      </div>

      <div class="form-row">
        <label>Adultos</label>
        <select name="select-childs">
          <option *ngFor="let numero of numAdults" [value]="numero">{{numero}}</option>
        </select>
      </div>

      <div class="form-row">
        <label>Niños</label>
        <select name="select-childs">
          <option *ngFor="let numero of numChildren" [value]="numero">{{numero}}</option>
        </select>
      </div>

      <button type="submit" class="block btnTarifas">Ver tarifas</button>
    </form>
  </div>
</div>