<div class="container">
    <div class="image-container">
        <img class="img-2" src="../../../../assets/imgs/fake/fake-4.jpg" alt="">
      </div>
    <div class="title-home">
      <h1>Discover</h1>
      <h2><span>YOUR PARADISE</span></h2>
      <p>
        <span class="spanP">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
            Fugiat beatae voluptatem esse eligendi corrupti ullam vel asperiores voluptatibus enim dolores eius non magni animi qui.<br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci molestias, voluptates sapiente quibusdam<br>
            labore eum deserunt recusandae dicta similique inventore possimus, earum facilis itaque qui deleniti neque, repudiandae error assumenda veritatis.
        </span> 
      </p>
    </div>
</div>