<div class="container">
  <div class="image-container">
    <img class="img-2" src="assets/imgs/fake/fake-4.jpg" alt="">
  </div>
  <div class="title-home">
    <h1>Descubre</h1>
    <h2><span>TU PARAÍSO</span></h2>
    <p>
      <span class="spanP">
        Si estás buscando una escapada que combine aventura y relajación, no busques más que Discover. <br> 
        Nuestro hotel se especializa en crear las mejores experiencias que pueden llevarte a algunos de los lugares más hermosos y prístinos del mundo.
      </span>
    </p>
  </div>
</div>