<div class="container">
    <div class="title-container">
        <h3>Nos encantaría saber de ti. Simplemente elige el método más conveniente y nos pondremos en contacto contigo tan pronto como sea posible.</h3>
        <p>Calle Romecin Campos, Los Yungas<br>
            La Paz Bolivia , 1254 <br>
            +591 60621846 <br>
            hotelcanvas@gmail.com
        </p>
        <div class="social-icons">
            <a href="#"><fa-icon [icon]="faFacebook" class="enve face"></fa-icon></a>
            <a href="#"><fa-icon [icon]="faTwitter" class="enve tw"></fa-icon></a>
            <a href="#"><fa-icon [icon]="faInstagram" class="enve insta"></fa-icon></a>
        </div>
    </div>
    
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form-cont">
        <div class="py-2 input-cont">
            <input type="text" id="name" formControlName="name" placeholder="Name" />
        </div>
        <div class="py-2 input-cont">
            <input type="email" id="email" formControlName="email" placeholder="Email" />
        </div>
        <div class="py-2 input-cont">
            <input type="text" id="phone" formControlName="phone" placeholder="Phone" />
        </div>
        <div class="py-3 btn-sub">
            <button type="submit">Submit</button>
        </div>
    </form>
    
</div>