<div class="container">
  <div class="title-home">
    <h1>Tu Hogar</h1>
    <h2><span>LEJOS DE CASA</span></h2>
    <p>Experimenta nuestro servicio premier de alquiler vacacional. Entendemos que tu tiempo de vacaciones es precioso y que mereces una experiencia cómoda y elegante, como estar en casa pero lejos de casa..</p>
  </div>
  <div class="image-container">
    <img class="img-1" src="assets/imgs/rooms/room-person-23.jpg">
    <img class="img-2" src="assets/imgs/rooms/room4.jpg" alt="">
  </div>
</div>