.header{
    grid-area: header;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    grid-area: main;
    background-image: url('../assets/imgs/hotel1.jpg');
    background-size: cover;
    background-position: center;
}

.side-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    grid-area: side-bar;
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/01/09/af/1e/beach-club.jpg');
    background-size: cover;
    background-position: center;
}

.footer{
    grid-area: footer;
    background-color: rgb(18, 18, 19);
}

.grid-container{
    display: grid;
    grid-template:        
        "header" 85px
        "main"
        "side-bar"
        "footer";
    height: 100vh;
    width: 100%;
    background-color: #88c1e7;
}

@media(min-width: 600px){
    .grid-container{
        grid-template: 
        "header header" 65px
        "side-bar main" auto
        "footer footer" 100px /
         30%   auto;
    }

    .header{
        grid-area: header;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}