<footer>
  <div class="grid-container">
    <div class="grid-item">
      <fa-icon style="font-size: 50px; color: #C7E7F1;" [icon]="faThumbsUp"></fa-icon>
      <h4>Mejpres Precios</h4>      
    </div>
    <div class="grid-item">
      <fa-icon style="font-size: 50px; color: #C7E7F1;" [icon]="faClockFout"></fa-icon>
      <h4>Sin Sorpresas</h4>      
    </div>
    <div class="grid-item">
      <fa-icon style="font-size: 50px; color: #C7E7F1;" [icon]="faPiggyBank"></fa-icon>
      <h4>Descuentos</h4>      
    </div>
    <div class="contact">
      <h3>Contactanos</h3>
      <div class="social-icons">
        <a href="#"><fa-icon [icon]="faFacebook" class="face"></fa-icon></a>
        <a href="#"><fa-icon [icon]="faInstagram" class="insta"></fa-icon></a>
        <a href="#"><fa-icon [icon]="faEnvelope" class="enve"></fa-icon></a>
      </div>
    </div>
  </div>
  <div class="grid-item-full">
    <h1>- Hotel Los Canvas -</h1>    
  </div>
</footer>