<footer>
    <div class="grid-container">
      <div class="grid-item">
        <fa-icon style="font-size: 50px;" [icon]="faThumbsUp"></fa-icon>
        <h4>Best price</h4>
        <p>Best price guaranteed.</p>
      </div>
      <div class="grid-item">
        <fa-icon style="font-size: 50px;" [icon]="faClockFout"></fa-icon>
        <h4>No surprises</h4>
        <p>Availability confirmation and instant booking.</p>
      </div>
      <div class="grid-item">
        <fa-icon style="font-size: 50px;" [icon]="faPiggyBank"></fa-icon>
        <h4>Discounts</h4>
        <p>When making your reservation you'll receive discounts and free services.</p>
      </div>
      <div class="grid-item-full">
        <p class="disclaimer">Disclaimer: This is not an official website. This site offers the property's information and
          telephone number, as well as online Booking service.</p>
      </div>
    </div>
  </footer>