<div class="container">
  <div class="video-container">
    <iframe width="560" height="315" [src]="video | domseguro : 'https://www.youtube.com/embed/'" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="title-container">
    <h1>Explora</h1>
    <h2><span>TU ESCAPADA PERFECTA</span></h2>
    <p>
      DDescubre un mundo de indulgencia y sofisticación en nuestro hotel de primera categoría, el destino perfecto para tu próxima escapada. Con comodidades de clase mundial, alojamientos lujosos y un servicio incomparable, ofrecemos una experiencia verdaderamente inolvidable que te dejará sintiéndote relajado, rejuvenecido e inspirado.
    </p>
    <p>
      Ya sea que estés viajando por negocios o por placer, nuestro hotel tiene todo lo que necesitas para que tu estancia sea cómoda y placentera. Desde habitaciones y suites espaciosas hasta restaurantes de alta cocina y un spa de servicio completo, contamos con todo lo necesario para relajarte con estilo.
    </p>
    <p>
      Nuestro personal experto está comprometido en brindarte atención personalizada y un servicio excepcional, asegurándose de que cada una de tus necesidades sea satisfecha. Ya sea que necesites ayuda con reservas para la cena o recomendaciones para atracciones locales, estamos aquí para ayudarte.
    </p>
    <p>
      
      Entonces, ¿por qué esperar? Explora tu escapada perfecta y reserva tu estancia en nuestro lujoso hotel hoy mismo.
    </p>
  </div>
</div>