<div class="container">
  <div class="title-home">
    <h1>Satisfaccion</h1>
    <h2><span>SABOR QUE DESLUMBRA</span></h2>
    <p>
      <span class="spanP">
        En nuestro hotel, entendemos que la comida es una parte importante de cualquier experiencia de viaje.<br> TEs por eso que nos enorgullece ofrecer una experiencia gastronómica que seguramente deslumbrará tu <br> 
        papilas gustativas. <br> Nuestros chefs expertos utilizan solo los ingredientes más finos para crear platos que son tan hermosos <br> como deliciosos.
      </span>
    </p>
  </div>
  <div class="image-container">
    <img class="img-2" src="assets/imgs/fake/hotel-fake.jpg" alt="">
  </div>
</div>