<div class="container">
    <div class="title-home">
        <h1>Meet Our Team</h1>
    </div>
    <div class="card-deck">
        <div class="card bg-dark-blue">
            <div class="img-container">
                <img class="card-img-top col-md-6 col-sm-12" src="../../../../assets/imgs/team/user.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">ANTONIO ROMO</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="font-weight: bold;">FRONT-DEV</h6>
                <p class="card-text">Antonio is a skilled Front-End Developer with a passion for creating visually appealing and user-friendly websites.</p>
                <div class="social-icons">
                    <a href="#"><fa-icon [icon]="faFacebook" class="enve"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="faTwitter" class="enve"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="faInstagram" class="enve"></fa-icon></a>
                </div>
            </div>
        </div>
        <div class="card bg-dark-blue">
            <div class="img-container">
                <img class="card-img-top col-md-6 col-sm-12" src="../../../../assets/imgs/team/user.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">LUIS NAVARRETE</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="font-weight: bold;">BACK-DEV</h6>
                <p class="card-text">Luis is a skilled Back-End Developer with a passion for building robust and scalable applications.</p>
                <div class="social-icons">
                    <a href="#"><fa-icon [icon]="faFacebook" class="enve"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="faTwitter" class="enve"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="faInstagram" class="enve"></fa-icon></a>
                </div>
            </div>
        </div>
        <div class="card bg-dark-blue">
            <div class="img-container">
                <img class="card-img-top col-md-6 col-sm-12" src="../../../../assets/imgs/team/user.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">SALVADOR GAYTAN</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="font-weight: bold;">BACK-DEV</h6>
                <p class="card-text">Salvador is a skilled Back-End Developer with a passion for building efficient and reliable systems.</p>
                <div class="social-icons">
                    <a href="#"><fa-icon [icon]="faFacebook" class="enve"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="faTwitter" class="enve"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="faInstagram" class="enve"></fa-icon></a>
                </div>
            </div>
        </div>
        <div class="card bg-dark-blue">
            <div class="img-container">
                <img class="card-img-top col-md-6 col-sm-12" src="../../../../assets/imgs/team/user.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">MICHELLE RUVALCABA</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="font-weight: bold;">FRONT-DEV</h6>
                <p class="card-text">Michelle is a skilled Front-End Developer with a passion for creating beautiful and engaging websites.</p>
                <div class="social-icons">
                    <a href="#"><fa-icon [icon]="faFacebook" class="enve"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="faTwitter" class="enve"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="faInstagram" class="enve"></fa-icon></a>
                </div>
            </div>
        </div>
    </div>
</div>