<div class="container">
    <div class="title-home">
        <h1>Meet Our Team</h1>
    </div>
    <div class="card-deck">
        <div class="card bg-dark-blue">
            <img class="card-img-top" src="../../../../assets/imgs/team/user.png" alt="Card image cap" style="height: 100%; width: 100%;">
            <div class="card-body">
                <h5 class="card-title">ANTONIO ROMO</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="font-weight: bold;">FRONT-DEV</h6>
                <p class="card-text">Antonio is a skilled Front-End Developer with a passion for creating visually appealing and user-friendly websites. He enjoys working collaboratively with designers and back-end developers to bring projects to life. 
                    Antonio is constantly learning new technologies to stay up-to-date with the latest industry trends and best practices.</p>
                <div class="social-icons">
                    <a href="#"><fa-icon [icon]="faFacebook" class="enve"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="faTwitter" class="enve"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="faInstagram" class="enve"></fa-icon></a>
                </div>
            </div>
        </div>
        <div class="card bg-dark-blue">
            <img class="card-img-top" src="../../../../assets/imgs/team/user.png" alt="Card image cap" style="height: 100%; width: 100%;">
            <div class="card-body">
                <h5 class="card-title">LUIS NAVARRETE</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="font-weight: bold;">BACK-DEV</h6>
                <p class="card-text">Luis is a skilled Back-End Developer with a passion for building robust and scalable applications. He enjoys working collaboratively with designers and front-end developers to ensure the best user experience. 
                    Luis is constantly learning new technologies to improve his skills and deliver high-quality projects.</p>
                <div class="social-icons">
                    <a href="#"><fa-icon [icon]="faFacebook" class="enve"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="faTwitter" class="enve"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="faInstagram" class="enve"></fa-icon></a>
                </div>
            </div>
        </div>
        <div class="card bg-dark-blue">
            <img class="card-img-top" src="../../../../assets/imgs/team/user.png" alt="Card image cap" style="height: 100%; width: 100%;">
            <div class="card-body">
                <h5 class="card-title">SALVADOR GAYTAN</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="font-weight: bold;">BACK-DEV</h6>
                <p class="card-text">Salvador is a skilled Back-End Developer with a passion for building efficient and reliable systems. He enjoys working collaboratively with front-end developers and designers to create the best possible user experience. 
                    Salvador is committed to staying up-to-date with the latest technologies to deliver the highest-quality projects.</p>
                <div class="social-icons">
                    <a href="#"><fa-icon [icon]="faFacebook" class="enve"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="faTwitter" class="enve"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="faInstagram" class="enve"></fa-icon></a>
                </div>
            </div>
        </div>
        <div class="card bg-dark-blue">
            <img class="card-img-top" src="../../../../assets/imgs/team/user.png" alt="Card image cap" style="height: 100%; width: 100%;">
            <div class="card-body">
                <h5 class="card-title">MICHELLE RUVALCABA</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="font-weight: bold;">FRONT-DEV</h6>
                <p class="card-text">Michelle is a skilled Front-End Developer with a passion for creating beautiful and engaging websites. She enjoys collaborating with designers and back-end developers to create seamless user experiences. 
                    Michelle stays up-to-date with the latest design trends and best practices to ensure that her projects are always cutting-edge.</p>
                <div class="social-icons">
                    <a href="#"><fa-icon [icon]="faFacebook" class="enve"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="faTwitter" class="enve"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="faInstagram" class="enve"></fa-icon></a>
                </div>
            </div>
        </div>
    </div>
</div>